/*-------------------------------------------------------------- # General --------------------------------------------------------------*/
 body {
     font-family: "Nunito", Sans-serif;
     color: #444444;
}
 a {
     color: #e96b56;
}
 a:hover {
     color: #e6573f;
     text-decoration: none;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: "Nunito", Sans-serif;
}
/*-------------------------------------------------------------- # Back to top button --------------------------------------------------------------*/
 @media (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
 }

 .back-to-top {
     position: fixed;
     display: none;
     right: 15px;
     bottom: 15px;
     z-index: 99999;
}
 .back-to-top i {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 24px;
     width: 40px;
     height: 40px;
     border-radius: 4px;
     background: #db3155;
     color: #fff;
     transition: all 0.4s;
}
 .back-to-top i:hover {
     background: #e6573f;
     color: #fff;
}
/*-------------------------------------------------------------- # Top Bar --------------------------------------------------------------*/
 #topbar {
    background: #f58823;
    padding: 6px 0;
    font-size: 14px;
    max-height: 40px;
}


#topbar .container{
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}



.container.d-flex {
    align-items: center;
}
 #topbar .contact-info {
     color: #fff;
}
 #topbar .contact-info a {
     line-height: 1;
     color: #fff;
     transition: 0.3s;
}
 #topbar .contact-info a:hover {
     color: #ffffff;
}
 #topbar .contact-info i {
     color: #d82e56;
     padding: 4px;
}
 #topbar .contact-info .icofont-phone {
     padding-left: 20px;
}
 #topbar .social-links a {
     color: #fff;
     padding: 7px;
     display: inline-block;
     line-height: 1px;
     transition: 0.3s;
     background: #d82e56;
     border-radius: 100%;
     margin-left: 5px;
}
 #topbar .social-links a:hover {
     color: #ffffff;
}
 #topbar .social-links a:first-child {
     border-left: 0;
}
/*-------------------------------------------------------------- # Header --------------------------------------------------------------*/
 #header {
     height: 85px;
     transition: all 0.5s;
     z-index: 997;
     transition: all 0.5s;
     background: #fff;
     box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
     position: relative;
}

#header .container{
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

 #header .logo{
    display: flex;
    padding: 4px 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
    max-width: 320px;
 }
  #header .logo .logo-image{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
 }
 #header .logo .logotext{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    padding-left: 8px;
 }

 #header .logo .logo-text1{
    display: flex;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    flex-wrap: nowrap;
 }

  #header .logo .logo-text2{
    display: flex;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
    font-size: 8px;
    line-height: 1.7em;
    padding-right: 0;
    font-weight: 600;
    letter-spacing: 0;
    flex-wrap: nowrap;
 }


 #header .logo h1 {
     font-size: 26px;
     padding: 0 0 0 8px;
     margin: 11px 0;
     line-height: 1;
     font-weight: 700;
     letter-spacing: 1px;
     text-transform: uppercase;
     font-family: "Nunito", Sans-serif;
     border-left: 8px solid #e96b56;
}
 #header .logo h1 a, #header .logo h1 a:hover {
     color: #545454;
     text-decoration: none;
}
 #header .logo img {
     padding: 0;
     margin: 0;
     max-height: 70px;
}
/*-------------------------------------------------------------- # Navigation Menu --------------------------------------------------------------*/
/* Desktop Navigation */
 .nav-menu, .nav-menu * {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .nav-menu > ul > li {
     position: relative;
     white-space: nowrap;
     float: left;
}
 .nav-menu a {
     display: block;
     position: relative;
     color: #0F0F0F;
     padding: 30px 8px;
     transition: 0.3s;
     font-family: "Nunito", Sans-serif;
     font-size: 18px;
     font-weight: 800;
}
 .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
     color: #ffffff;
     text-decoration: none;
     background: #db3155;
     webkit-transition: .4s;
     -o-transition: .4s;
     transition: .4s;
}
 .nav-menu .drop-down ul {
     display: block;
     position: absolute;
     left: 0;
     top: calc(100% + 30px);
     z-index: 99;
     opacity: 0;
     visibility: hidden;
     padding: 10px 0;
     background: #fff;
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
     transition: ease all 0.3s;
     width: 250px;
}
 .nav-menu .drop-down:hover > ul {
     opacity: 1;
     top: 100%;
     visibility: visible;
}
 .nav-menu .drop-down li {
     min-width: 180px;
     position: relative;
}
 .nav-menu .drop-down ul a {
     padding: 10px 20px;
     font-size: 18px;
     font-weight: 400;
     text-transform: none;
}
 .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
     color: #db3155;
     background: #fff;
}
 .nav-menu .drop-down > a:after {
     content: "\ea99";
     font-family: IcoFont;
     padding-left: 5px;
}
 .nav-menu .drop-down .drop-down ul {
     top: 0;
     left: calc(100% - 30px);
}
 .nav-menu .drop-down .drop-down:hover > ul {
     opacity: 1;
     top: 0;
     left: 100%;
}
 .nav-menu .drop-down .drop-down > a {
     padding-right: 35px;
}
 .nav-menu .drop-down .drop-down > a:after {
     content: "\eaa0";
     font-family: IcoFont;
     position: absolute;
     right: 15px;
}
 li.active {
     background: #db3156;
     color: #fff;
}
 @media (max-width: 1366px) {
     .nav-menu .drop-down .drop-down ul {
         left: -90%;
    }
     .nav-menu .drop-down .drop-down:hover > ul {
         left: -100%;
    }
     .nav-menu .drop-down .drop-down > a:after {
         content: "\ea9d";
    }
}
/* Mobile Navigation */
 .mobile-nav-toggle {
     position: fixed;
     right: 25px;
     top: 20px;
     z-index: 9998;
     border: 0;
     background: none;
     font-size: 24px;
     transition: all 0.4s;
     outline: none !important;
     line-height: 1;
     cursor: pointer;
     text-align: right;
}
 .mobile-nav-toggle i {
     color: #a81e2d;
}
 .mobile-nav {
     position: fixed;
     top: 0;
    right: inherit;
    bottom: inherit;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 0;
    padding: 10px 0;
    left: 0;
    width: 80%;
    height: 100vh;
    overflow: auto;
}

.mobile-nav ul li{
    border-bottom: 1px solid #f1f1f1;
}
.mobile-nav ul li ul li{
    border-bottom: none;
}
.mobile-nav .drop-down.active{
    background: #ffffff; 
    background-color: #ffffff;
    color: #111111;
    padding-left: 0;
}

 .mobile-nav .drop-down ul li a{
    background-color: #f1f1f1;
 }

  .mobile-nav .drop-down ul li.drop-down ul li a{
    background-color: #dbdbdb;
 }


 .mobile-nav * {
     margin: 0;
     padding: 0;
     list-style: none;
}
 .mobile-nav a {
     display: block;
     position: relative;
     color: #0F0F0F;
     padding: 10px 20px;
     font-weight: 500;
     outline: none;
}
 .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
     color: #0F0F0F;
     text-decoration: none;
}
 .mobile-nav .drop-down > a:after {
     content: "\ea99";
     font-family: IcoFont;
     padding-left: 10px;
     position: absolute;
     right: 15px;
}
 .mobile-nav .active.drop-down > a:after {
     content: "\eaa1";
}
 .mobile-nav .drop-down > a {
     padding-right: 35px;
}
 .mobile-nav .drop-down ul {
     display: none;
     overflow: hidden;
}
 .mobile-nav .drop-down li {
     padding-left:0px;
}
 .mobile-nav-overly {
     width: 100%;
     height: 100%;
     z-index: 9997;
     top: 0;
     left: 0;
     position: fixed;
     background: rgba(59, 59, 59, 0.6);
     overflow: hidden;
     display: none;
     transition: ease-in-out 0.2s;
}
 .mobile-nav-active {
     overflow: hidden;
}
 .mobile-nav-active .mobile-nav {
     opacity: 1;
     visibility: visible;
}
 .mobile-nav-active .mobile-nav-toggle i {
     color: #fff;
}
/*-------------------------------------------------------------- # Hero Section --------------------------------------------------------------*/
 #hero {
     width: 100%;
     height: 100vh;
     background-color: rgba(59, 59, 59, 0.8);
     overflow: hidden;
     padding: 0;
     margin-bottom: -120px;
     position: relative;
     z-index: 1;
}
 #hero .carousel-item {
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-position: center center;
}
 #hero .carousel-item::before {
     content: '';
       background-color: rgb(0 0 0 / 41%);
     position: absolute;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     display: none !important;
}
 #hero .carousel-container {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     bottom: 0;
     top: 0;
     left: 0;
     right: 0;
     padding-bottom: 120px;
}
 #hero .carousel-content {
     text-align: center;
     display: none !important;
}
 #hero h2 {
     color: #fff;
     margin-bottom: 30px;
     font-size: 55px;
     font-weight: 700;
     padding: 50px;
     border-radius: 10px;
}
 #hero .carousel-inner .carousel-item {
     transition-property: opacity;
     background-position: center top;
}
 #hero .carousel-inner .carousel-item, #hero .carousel-inner .active.carousel-item-left, #hero .carousel-inner .active.carousel-item-right {
     opacity: 0;
     background-size: cover !important;
}
 #hero .carousel-inner .active, #hero .carousel-inner .carousel-item-next.carousel-item-left, #hero .carousel-inner .carousel-item-prev.carousel-item-right {
     opacity: 1;
     transition: 0.5s;
}
 #hero .carousel-inner .carousel-item-next, #hero .carousel-inner .carousel-item-prev, #hero .carousel-inner .active.carousel-item-left, #hero .carousel-inner .active.carousel-item-right {
     left: 0;
     transform: translate3d(0, 0, 0);
}
 #hero .carousel-control-prev, #hero .carousel-control-next {
     width: 10%;
}
 #hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
     background: none;
     font-size: 48px;
     line-height: 1;
     width: auto;
     height: auto;
     color: #ffffff;
}
 #hero .carousel-indicators li {
     cursor: pointer;
     background: #e96b56;
     overflow: hidden;
     border: 0;
     width: 12px;
     height: 12px;
     border-radius: 50px;
     margin-bottom: 180px;
     opacity: .2;
}
 #hero .carousel-indicators li.active {
     opacity: 1;
}
 #hero .btn-get-started {
    font-family: "Nunito", Sans-serif;
     font-weight: 500;
     font-size: 14px;
     letter-spacing: 1px;
     display: inline-block;
     padding: 12px 32px;
     border-radius: 50px;
     transition: 0.5s;
     line-height: 1;
     margin: 10px;
     color: #fff;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 2px solid #fb8b25;
     background: #fb8b25;
	 text-transform: uppercase;
}
 #hero .btn-get-started:hover {
     background: transparent;
     color: #e96b56;
     text-decoration: none;
}
 @media (max-width: 400px) {
     #hero h2 {
         font-size: 30px;
    }
}
 @media (max-height: 768px), (max-width: 1200px) {
     #hero {
         margin-bottom: 0px;
    }
     #hero .carousel-container {
         padding-bottom: 0;
    }
     #hero .carousel-indicators li {
         margin-bottom: 0;
    }
}
 @media (max-width: 768px) {
     #hero {
         height: 90vh !important;
    }
     #hero .carousel-item {
         height: 90vh;
    }
}
 @media (min-width: 1024px) {
     #hero p {
         width: 50%;
    }
     #hero .carousel-control-prev, #hero .carousel-control-next {
         width: 5%;
    }
}
/*-------------------------------------------------------------- # Sections General --------------------------------------------------------------*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0; transform: scale(0, 0);}
    100% {opacity: 1; transform: scale(1, 1);}
 }
 
 @keyframes fadeIn {
    0% {opacity: 0; transform: scale(.9, .9);}
    100% {opacity: 1; transform: scale(1, 1);}
 }
 
 .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
 }
 section {
    padding: 70px 0;
}
 .section-bg {
     background-color: white;
}
 .section-title {
     text-align: center;
     padding-bottom: 30px;
}
 .section-title h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: 800;
}
 .section-title p {
     margin-bottom: 0;
}
 h2.text_sty {
     color: #0F0F0F;
     font-family: "Nunito", Sans-serif;
     font-size: 36px;
     font-weight: 800;
}
 .btn-get-started-yello {
    font-family: "Nunito", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    background-color: #FB8B24;
    box-shadow: 0px 12px 29px -4px rgb(0 0 0 / 19%);
    border-radius: 40px 40px 40px 40px;
    padding: 13px 25px;
    webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}
 .btn-get-started-yello:hover {
     background-color: #db3155;
     color: #fff;
}
 section.about p {
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    padding-right: 30px;
    font-weight: 400;
}
 .icon-box-1 {
     background-color: #DB3056;
     border-radius: 30px 30px 30px 30px;
     transition: background 0.3s, border 0.7s, border-radius 0.7s, box-shadow 0.7s;
     padding: 25px;
     text-align: center;
     border: 5px solid #fff;
}

 .icon-box-1 h3 {
     font-family: "Nunito", Sans-serif;
     font-size: 35px;
     font-weight: 800;
     color: #fff;
	 margin: 15px 0;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}

.icon-box-1 .text-block {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    height: 250px;
    overflow: auto;
    margin-bottom: 15px;
}

.icon-box-1 .read-more{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    padding-bottom: 15px;
}


 .icon-box-1 p {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
 .icon-box-1:hover {
     border: 5px solid #fb8b25;
}
p.max-hgt {
    min-height: 192px;
}
p.mt-7 {
    margin-top: 106px;
}
 a.button-link {
     fill: #FFFFFF;
     color: #FFFFFF;
     background-color: #FB8B2400;
     border-style: solid;
     padding: 15px 30px;
     font-family: "Viga", Sans-serif;
     font-weight: 400;
     text-transform: uppercase;
     letter-spacing: 0.7px;
     box-shadow: 0px 12px 29px -4px rgb(0 0 0 / 19%);
     border-radius: 40px 40px 40px 40px;
	 webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}
 a.button-link:hover {
     background: #fff;
     border-color: #fb8b24;
     color: #fb8b24;
}
 .icon-box-2 {
     background-color: #17BEBB;
}
 .icon-box-3 {
     background-color: #30ACDB;
}
 p.box_wrap {
     background-color: #218cac;
     padding: 5px;
     margin-bottom: 8px;
     -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}
.icon-box-1 .text-block a{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}
.icon-box-1 .text-block a:hover  p.box_wrap {
    text-decoration: none;
    background-color: #10718e;
}


 .clients .card-body {
    /* box-shadow: 0px 0px 10px -32px rgb(0 0 0 / 14%);
     */
     transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
     text-align: center;
     padding-bottom: 45px;
	 background-color: #fff;
     border-radius: 0 0 8px 8px;
}
.ab-shape1.position-absolute {
    margin: 0px 0px 0px 0px;
    padding: 50px 50px 50px 50px;
    background-color: transparent;
    background-image: linear-gradient( 
180deg
 , rgba(219, 48, 86, 0.19) 0%, rgba(251, 139, 36, 0.26) 100%);
    border-radius: 50% 50% 50% 50%;
    top: -28px;
    right: -21px;
    z-index: -1;
	    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
}
.ab-shape2.position-absolute {
    margin: 0px 0px 0px 0px;
    padding: 204px 106px 50px 50px;
    background-color: transparent;
    background-image: linear-gradient( 
180deg
 , rgba(219, 48, 86, 0.19) 0%, rgba(251, 139, 36, 0.26) 100%);
    border-radius: 50% 50% 50% 50%;
    top: 11px;
    left: -21px;
    z-index: -1;
	    -webkit-animation: float 3s ease-in-out infinite;
    animation: float 3s ease-in-out infinite;
}
img.img-responsive.img-rounded {
    border-radius: 12px;
}
 .clients .card {
     box-shadow: 0px 0px 10px -32px rgb(0 0 0 / 14%);
     transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     padding: 20px 20px 20px 20px;
     border: none;
}
 h5.card-title {
     text-align: center;
     color: #0F0F0F;
     font-family: "Nunito", Sans-serif;
     font-size: 28px;
     font-weight: 800;
     letter-spacing: 0.3px;
     padding: 0;
     margin: 0;
     padding-bottom: 15px;
}
 .clients p.card-text {
    margin-bottom: 2.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 72px;
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    font-weight: 400;
}
 img.img-responsive {
     max-width: 100%;
     height: auto;
}
 .clients .owl-nav, .clients .owl-dots {
     margin-top: 5px;
     text-align: center;
}
 .clients .owl-dot {
     display: inline-block;
     margin: 0 5px;
     width: 12px;
     height: 12px;
     border-radius: 50%;
     background-color: #ddd !important;
}
 .clients .owl-dot.active {
     background-color: #db3155 !important;
}
 .more {
     width: 100%;
     padding: 80px 0 180px;
     position: relative;
     background-image: url(../img/handson.jpg);
     background-origin: initial;
     background-clip: initial;
     background-size: cover !important;
     background-repeat: no-repeat;
     background-position: center top;
	 background-attachment: fixed;
}
 .more:after {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     content: "";
     background: rgb(0 0 0 / 76%);
}
 .more .container {
     position: relative;
     z-index: 2;
}
 .more h2 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: 800;
}
 section.more p {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    padding-right: 30px;
    font-weight: 400;
    text-align: center;
}
 section.link {
     position: relative;
     top: -90px;
     padding: 0px;
}
 .link .box {
     transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
     box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
     text-align: center;
     padding: 40px 20px;
     background: #fff;
     margin-bottom: 0;
     border-radius: 18px;
     webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}

 .box i {
     font-size: 40px;
     color: #fff;
     webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}
 .box h4 {
     padding-top: 30px;
     font-family: "Nunito", Sans-serif;
     color: #0F0F0F;
     font-weight: 800;
     webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}

 .link .box:hover{
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 30%);
    background: #db3155;
 }

  .link .box:hover h4{
    text-decoration: none;
    color: #ffffff;
  }
  .link .box:hover .icon-fnt{
    text-decoration: none;
    background: #ffffff;
  }
  .link .box:hover i {
     font-size: 40px;
     color: #db3155;
}


.icon-fnt {
    width: 80px;
    height: 80px;
    background: #db3155;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 25%; */
    border-radius: 100%;
    box-shadow: 0px 0px 0px 5px rgb(219 49 85 / 18%);
}
.icon-fnt:hover {
    background: #fb8b24;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
}




@keyframes float {
	0% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.09);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.09);
		transform: translatey(0px);
	}
}
@keyframes floatX {
	0% {
		transform: translatex(-15px);
	}
	50% {
		transform: translatex(0px);
	}
	100% {
		transform: translatex(-15px);
	}
}

@keyframes rotate {
	0% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.09);
		transform: rotate3d(16,2,1,-1deg)
	}
	50% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.2);
		transform:rotate3d(16,2,1,-25deg)
	}
	100% {
		box-shadow: 0 22px 45px rgba(0, 0, 0, 0.09);
		transform: rotate3d(16,2,1,-1deg)
	}
}
.hover-tilt{
  &:hover{
    .animation-tilt{
     animation-play-state: running;
    }
  }
}
.animation-tilt{
  animation:  tilt 3s linear infinite;
  will-change: transform; 
  animation-play-state: paused;
}
@keyframes tilt{
  0% {
    transform: perspective(300px) rotateX(-8.23deg) rotateY(-4.91deg) scale3d(1,1,1);
	}
	16% {
    transform: perspective(300px) rotateX(-8.31degdeg) rotateY(-4.98deg) scale3d(1,1,1);
  }
  33%{
    transform: perspective(300px) rotateX(-7.39deg) rotateY(7.39deg) scale3d(1,1,1);
  }
  49%{
    transform: perspective(300px) rotateX(3.9deg) rotateY(5.27deg) scale3d(1,1,1);
  }
  82%{
    transform: perspective(300px) rotateX(2.64deg) rotateY(-5.44deg) scale3d(1,1,1);
  }
	100% {
    transform: perspective(300px) rotateX(-8.23deg) rotateY(-4.91deg) scale3d(1,1,1);
	}
}

.img_sdo :after {
    background-image: linear-gradient( 
180deg
 , rgba(219, 48, 86, 0.6) 0%, rgba(251, 139, 36, 0.43) 100%);
    z-index: 99;
    position: relative;
}
.img_sdo :before {
    background-image: linear-gradient( 
180deg
 , rgba(219, 48, 86, 0.6) 0%, rgba(251, 139, 36, 0.43) 100%);
    z-index: 99;
    position: relative;
}
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #db3155;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #fef5f4;
}

.contact .info-box h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    margin: 10px 0;
    font-family: "Nunito", Sans-serif;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus, .contact .php-email-form textarea::focus {
  background-color: #e96b56;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
    background: #fb8b24;
    border: 0;
    border-radius: 50px;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #db3155;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.breadcrumbs {
    padding: 200px 0 0px 0;
    background: #f7f7f7;
    border-bottom: 1px solid #ededed;
    margin-bottom: 0;
    background-image: url(../img/group-of-school-kids-raising-hands-in-classroom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs h2 {
    margin: 0px 0px 0px 0px;
    padding: 20px 140px 20px 140px;
    background-color: transparent;
    background-image: linear-gradient( 
180deg
 , #DB3056 52%, #EA567B 100%);
    border-radius: 100px 100px 0px 0px;
    text-align: center;
    color: #FFFFFF;
    font-family: "Nunito", Sans-serif;
    font-size: 62px;
    font-weight: 800;
    text-transform: capitalize;
    width: max-content;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6e6e6e;
  content: "/";
}

.insidepage-breadcrumb{
    width: 100%;
    background-color: #e9ecef;
    padding: 0;
    margin: 0;
    border: none;
}

.insidepage-breadcrumb .breadcrumb-item.active{
    color: #6c757d;
    background: transparent;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 12px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  background: #f2f2f2;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #e96b56;
  color: #fff;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(84, 84, 84, 0.6);

box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
text-align: center;
border-radius: 12px;
webkit-animation-delay: 0.8s;
animation-delay: 0.8s;
transition: 0.5s;


}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(84, 84, 84, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Nunito", Sans-serif;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links  {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links :hover {
    color: #db3155;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #db3155;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}
.homework .box {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 10%);
    text-align: center;
    padding: 40px 20px;
    background: #fff;
    margin-bottom: 0;
    border-radius: 18px;
    webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
    margin-bottom: 50px;
    border: 1px solid #bbbbbb;
    /* box-shadow: 0px 0px 0px 5px rgb(219 49 85 / 18%); */
}
.homework .box:hover {
    text-decoration: none;
    box-shadow: 0px 4px 8px 0px rgb(0 0 0 / 30%);
    background: #db3155;
}
.homework .box:hover .icon-fnt {
    text-decoration: none;
    background: #ffffff;
}
.homework .box:hover i {
    font-size: 40px;
    color: #db3155;
}
@media (max-width: 767px) {
.breadcrumbs h2 {
    font-size: 24px;
    width: auto;
	padding: 20px 40px 20px 40px;
}
 }
 @media (max-width: 990px) {
	 .link .box {
    margin-bottom: 20px;
}
 }
/*-------------------------------------------------------------- # Footer --------------------------------------------------------------*/
 #footer {
    background: #fb8b24;
    padding: 0;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}
 footer#footer svg {
    /* height: 54px; */
    width: calc(105% + 1.3px);
    height: 54px;
    background: #fb8b24;
}
 path.elementor-shape-fill {
     fill: #fff;
     -webkit-transform-origin: center;
     -ms-transform-origin: center;
     transform-origin: center;
     -webkit-transform: rotateY( 0deg );
     transform: rotateY( 0deg );
     width: calc(105% + 1.3px);
     height: 54px;
}
 #footer .footer-newsletter {
     padding: 50px 0;
     background: #404040;
}
 #footer .footer-newsletter h4 {
     font-size: 24px;
     margin: 0 0 20px 0;
     padding: 0;
     line-height: 1;
     font-weight: 600;
}
 #footer .footer-newsletter form {
     margin-top: 30px;
     background: #fff;
     padding: 6px 10px;
     position: relative;
     border-radius: 50px;
}
 .footer-contact P {
     color: #FFFFFF;
     font-family: "Nunito", Sans-serif;
     font-size: 16px;
}
 .footer-contact P a {
     color: #FFFFFF;
     font-family: "Nunito", Sans-serif;
     font-size: 16px;
}
 .footer-contact P i {
     color: #DB3056;
     font-size: 20px;
     padding-right: 10px;
     margin-top: 4px;
}
 #footer .footer-newsletter form input[type="email"] {
     border: 0;
     padding: 8px;
     width: calc(100% - 140px);
}
 #footer .footer-newsletter form input[type="submit"] {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     border: 0;
     background: none;
     font-size: 16px;
     padding: 0 30px;
     margin: 3px;
     background: #e96b56;
     color: #fff;
     transition: 0.3s;
     border-radius: 50px;
}
 #footer .footer-newsletter form input[type="submit"]:hover {
     background: #e6573f;
}
 #footer .footer-top {
     background: #FB8B24;
     border-top: 1px solid #FB8B24;
     border-bottom: 1px solid #FB8B24;
     padding: 40px 0;
}
 #footer .footer-top .footer-info {
     margin-bottom: 0;
}
 #footer .footer-top .footer-info h3 {
     font-size: 18px;
     margin: 0 0 20px 0;
     padding: 2px 0 2px 0;
     line-height: 1;
     font-weight: 700;
}
 #footer .footer-top .footer-info p {
     font-size: 14px;
     line-height: 24px;
     margin-bottom: 0;
     font-family: "Raleway", sans-serif;
     color: #fff;
}
 #footer .footer-top .social-links a {
     font-size: 18px;
     display: inline-block;
     background: #545454;
     color: #fff;
     line-height: 1;
     padding: 8px 0;
     margin-right: 4px;
     border-radius: 50%;
     text-align: center;
     width: 36px;
     height: 36px;
     transition: 0.3s;
}
 #footer .footer-top .social-links a:hover {
     background: #e96b56;
     color: #fff;
     text-decoration: none;
}
 #footer .footer-top h4 {
     color: #fff;
     position: relative;
     padding-bottom: 12px;
     font-family: "Nunito", Sans-serif;
     font-size: 28px;
     font-weight: 700;
     letter-spacing: 0.3px;
}
 #footer .footer-top .footer-links {
     margin-bottom: 0;
}
 #footer .footer-top .footer-links ul {
     list-style: none;
     padding: 0;
     margin: 0;
}
 #footer .footer-top .footer-links ul i {
     padding-right: 2px;
     color: #db3155;
     font-size: 18px;
     line-height: 1;
}
 #footer .footer-top .footer-links ul li {
     padding: 5px 0;
     display: flex;
     align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
    padding-right: 30px;
    font-weight: 600;
}
 #footer .footer-top .footer-links ul li:first-child {
     padding-top: 0;
}
 #footer .footer-top .footer-links ul a {
     color: #fff;
     transition: 0.3s;
     display: inline-block;
     line-height: 1;
}
 #footer .footer-top .footer-links ul a:hover {
     color: #db3155;
}
 #footer .footer-top .footer-contact {
     margin-bottom: 0;
}
 #footer .footer-top .footer-contact p {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    line-height: 1.7em;
    padding-right: 0;
    font-weight: 400;
    padding: 0;
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
 #footer .copyright {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: #f5879e;
    background-color: #db3155;
}
 #footer .credits {
     padding-top: 10px;
     text-align: center;
     font-size: 13px;
     color: #fff;
}
 

 section.faq{
    padding-top: 0;
}
.section-title{
    width: 100%;
    text-align: center;
    padding: 0 0 25px 0;
    margin: 0;
    border: none;
    outline: none;
    color: #ffffff;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: 800;
}
.section-title .text_sty{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 36px;
    font-weight: 800;
     padding-bottom: 45px;
    background: url(../img/divider.png) no-repeat bottom center;
}

.about .section-title{
    text-align: left;
}
.about .section-title .text_sty{
    text-align: left;
    color: #0F0F0F;
    background: url(../img/divider.png) no-repeat bottom left;
}

.about .section-title .text_sty span{
    color: #5F5F5F;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
}

.more .section-title .text_sty{
    color: #ffffff;
}

.footer-logo-block{
    width: auto;
    display: inline-block;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    margin-bottom: 15px;
    padding: 8px;
    background-color: #ffffff;
}

.footer-logo-block img{
    display: inline-block;
    max-height: 70px;
    width: auto;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}

 .home-parallax-banner{
    background-image: url("../img/child-banner.jpg");
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }


.insidepage-breadcrumb{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #e9ecef;
}

.insidepage-breadcrumb .breadcrumb-item.active{
    background-color: transparent;
}


.inside-page-content{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.inside-page-content .text-box{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    padding-bottom: 40px;
}
.inside-page-content .text-box .section-title .text_sty{
    font-size: 28px;
}


.text-list-details-block .text-box{
    width: 100%;
    background-color: #f1f1f1;
    padding: 0 0 20px 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.about-staff-vbs-block .text-box .header-text{
    width: 100%;
    display: flex;
    padding: 15px;
    background: #ccc;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}

.about-staff-vbs-block  .details-block{
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    height: 250px;
    overflow: auto;
}

.about-staff-vbs-block  .details-block .details-list{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.about-staff-vbs-block  .details-block .details-list li{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.about-staff-vbs-block  .details-block .details-list a{
    text-decoration: none;
    color: inherit;
}
.about-staff-vbs-block  .details-block .details-list .list-text-box{
    width: 100%;
    padding: 8px 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;
}

.about-staff-vbs-block  .details-block .details-list a:hover .list-text-box{
    text-decoration: none;
    color: #000;
    background-color: #cccccc;
}

.about-staff-vbs-block  .details-block .details-list .list-text-box .icon{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    padding-right: 8px;
}


/*/////*/
.text-list-details-block{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.text-list-details-block .text-box{
    width: 100%;
    background-color: #f1f1f1;
    padding: 0 0 20px 0;
    border: none;
    outline: none;
    text-decoration: none;
}

.text-list-details-block .text-box .header-text{
    width: 100%;
    display: flex;
    padding: 15px;
    background: #ccc;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}

.text-list-details-block  .details-block{
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    height: 250px;
    overflow: auto;
}

.text-list-details-block  .details-block .details-list{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.text-list-details-block  .details-block .details-list li{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
}

.text-list-details-block  .details-block .details-list a{
    text-decoration: none;
    color: inherit;
}
.text-list-details-block  .details-block .details-list .list-text-box{
    width: 100%;
    padding: 8px 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;
}

.text-list-details-block  .details-block .details-list a:hover .list-text-box{
    text-decoration: none;
    color: #000;
    background-color: #cccccc;
}

.text-list-details-block  .details-block .details-list .list-text-box .icon{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    padding-right: 8px;
}





/*///////*/

.admision-button_block{
    width: 100%;
    padding: 0 0 70px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admision-button_block .button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    font-family: "Nunito", Sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #FFFFFF;
    background-color: #FB8B24;
    box-shadow: 0px 12px 29px -4px rgb(0 0 0 / 19%);
    border-radius: 40px 40px 40px 40px;
    padding: 13px 25px;
    webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    transition: 0.5s;
    font-size: 24px;
}
.admision-button_block .button-box span{
    display: inline-block;
    padding: 0 8px;
}
.admision-button_block .button-box i{
    font-size: 28px;
}
.admision-button_block a{
    text-decoration: none;
    color: inherit;
    animation: wiggle 3s linear infinite;
}

.admision-button_block a:hover{
    text-decoration: none;
    color: inherit;
    animation: none;
}

.admision-button_block a:hover .button-box{
    background-color: #db3155;
    color: #fff;
}


/* Animation property */


/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-12deg);
  }
  20% {
    transform: rotateZ(7deg);
  }
  25% {
    transform: rotateZ(-7deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  35% {
    transform: rotateZ(-1deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}


/*admision-policy*/

.policy-tabile-block{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: #f1f1f1;
    margin-bottom: 40px;
}

.policy-tabile-block .header-text {
    width: 100%;
    display: flex;
    padding: 15px;
    background: #ccc;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
}

.tabile-block{
    width: 100%;
    display: flex;
    padding: 15px;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    height: auto;
    overflow: auto;
}

.tabile-block td{
    font-family: "Nunito", Sans-serif;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
}

.tabile-block td span{
    display: inline-block;
    background-color: #ccc;
    padding: 2px 6px;
    margin: 2px 0;
    font-size: 11px;
    border-radius: 4px;
    font-weight: 700;
}


.student-tc-accordion{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.student-tc-accordion .card-header{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: #ccc;
}

.student-tc-accordion .card-header .btn-link{
    width: 100%;
    display: flex;
    padding: 15px;
    background: #ccc;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    text-decoration: none !important;
    border-bottom: none !important;
    cursor: pointer;
    box-shadow: none !important;
}

.student-tc-accordion .card-header .btn-link:hover{
    text-decoration: none;
    background: #f1f1f1;
}
.student-tc-list{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}
.student-tc-list .student-tc-item{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
}


.student-tc-list .student-tc-item a{
    width: 100%;
    padding: 8px 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #0F0F0F;
    font-family: "Nunito", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    transition: all 0.4s;
    position: relative;
    padding-left: 40px;
    border-bottom: 1px solid #f1f1f1;
}

.student-tc-list .student-tc-item a:hover{
    text-decoration: none;
    color: #000;
    background-color: #cccccc;
}

.student-tc-list .student-tc-item a:after{
    content: "\eb1e";
    font-family: IcoFont!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;

    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 10px
}





 /*////////responsive-designfixed/////*/
@media screen and (min-width 1130px) and (max-width 1230px) {
    #header .logo .logo-text1{
        font-size: 16px;
    }

    #header .logo .logo-text2{
        font-size: 7px;
    }
    .nav-menu a{
        font-size: 16px;
    }
}

@media screen and (min-width 768px) and (max-width 1129pxpx) {
    #header .logo .logo-text1{
        font-size: 14px;
    }

    #header .logo .logo-text2{
        font-size: 6px;
    }
    .nav-menu a{
        font-size: 13px;
    }
    #header .container {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}


@media (max-width: 767px) {
    #header .container {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    section {
        padding: 40px 0;
    }
    .section-title .text_sty{
        font-size: 28px;
    }
    .ab-shape1.position-absolute{
        right: 0;
    }

    #footer .footer-top .footer-contact {
        margin-bottom: 20px;
    }

    #header .logo .logo-text1{
        font-size: 16px;
    }

    #header .logo .logo-text2{
        font-size: 7px;
    }

    .mobile-nav .drop-down ul{
        background: #fff;
    }

    .vbox-container img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }
    .vbox-content{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }

    .admision-button_block .button-box{
        font-size: 16px;
        padding: 13px 15px;
    }
    .admision-button_block .button-box span {
        display: inline-block;
        padding: 0 2px;
    }
    .admision-button_block .button-box i {
        font-size: 18px;
    }


 }
